@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.eot");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.woff") format("woff");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWebBold.woff") format("woff");
  font-weight: bold;
}

.menu .lang { float: right;  }
.menu .lang a { padding:0px 8px; color:#777; text-decoration: none; vertical-align: middle}
.menu .lang a:hover  { color: #fff; background-color:#363636; }


.axis line {
  fill: none;
  stroke: #FFF;
  shape-rendering: crispEdges;
  opacity: 0.1;
}
.x .tick text {
  fill:#FFF;
  opacity: 0.5;
  cursor: pointer;
}
.axis .domain{
  display: none;
}

.x .tick {
  opacity: 0.2;
  stroke-width:1px;
}
.tick.selected line{
  opacity: 0.5;
}
.tick.selected text{
  opacity: 0.9!important;
}
.x.axis path {
  fill:none;
  stroke:rgba(255, 255, 255, 0.72);
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1px;
}

.group .group-label {
  fill:rgba(255, 255, 255, 0.82);
}
.group a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.82);
}
.arc text {
  fill:rgba(255, 255, 255, 0.82);
}



.bars {
  /*opacity: 0.8;*/
}

svg {
  font-family: KarbidWeb, sans-serif;
  font-weight: 400;
  font-size: 10px;
  position: relative;
  left: -5px;
}

body {
  background: #222222;
  color:#FFF;
  margin: 0;
  min-height: 700px;
	min-width: 1240px;
  font-family: KarbidWeb, sans-serif;
}

p {
  font-size: 14px;
  opacity: 0.8;
}

.lineArea {
  fill-opacity: 0.15;
}


.brush .extent {
/*  stroke: rgba(255, 255, 255, 0.45); */
  fill-opacity: 0.3;
  fill: #FFF;
  /*fill:none;*/
  shape-rendering: crispEdges;
}

.legend {
  fill:#FFF;
  opacity: 0.8;
}
.legend line {
  stroke: #FFF;
  shape-rendering: crispEdges;
}

.main .menu {
 position: relative;
 left: -4px;
 float: left;
 width: 200px;
 opacity: 0;
}
.main .menu img {
  padding: 4px;
  width: 20px;
  cursor:pointer;
  opacity: 0.5;
}
.main .menu img.active, .main .menu img:hover {
  opacity: 1;
}

.main .help {
/* padding-top: 10px;
*/
 position: relative;
 float: right;
 z-index: 400;
 opacity: 0;
}
.main .help img {
  opacity: 0.5;
  width: 20px;
	height: 20px;
  cursor:pointer;
}
.main .help .active, .main .help img:hover {
  opacity: 1;
}


.items .background {
  fill:#FFF;
  opacity: 0.2;
}

.items .type {
  opacity: 0.8;
  cursor: pointer;
}
.items .type:hover {
  opacity: 1;
}

.sidesvg .tick {
  fill:#FFF;
  opacity: 0.9;
}
.sidesvg .total {
  fill-opacity:0.9;
  cursor: pointer;
}

#wordArea {
/*  margin-left: 9px;
*/  margin-bottom: 50px;
  font-weight: 400;
  position: relative;
  width: 1200px;
/*  float: left;
*/   min-height: 500px;
   opacity: 0;
}

#wordArea .group {
  font-size: 10px;
  width: 23%;
  padding-right: 20px;
  float: left;
  position: relative;
/*  text-align: justify;
*/
}
#wordArea .group:last-child {
  font-size: 10px;
  width: 50%;
  padding-right: 0px;
  float: left;
}

#wordArea h2 {
  font-size: 14px;
font-weight: normal;
padding-bottom: 5px;
border-bottom: 1px solid rgba(255, 255, 255, 0.23);
}

#wordArea img {
  width: 14px;
  float: right;
  opacity: 0.5;
}

.wordArea .word {
  margin-right: 7px;
  /*background: rgba(255, 255, 255, 0.22);*/
  /* padding: 2px; */
  margin-bottom: 7px;
  /* line-height: 14px; */
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.wordArea .text{
  color:#FFF;
  position: relative;
  opacity: 0.8;
}
.wordArea a {
  text-decoration: none;
}
.wordArea .active {
  z-index:100;
}
.wordArea .active .text{
  color:#000;
   z-index: 200;
}

.wordArea .info {
  width: 100%;
  bottom: -2px;
  height: 200%;
  /* top: -70%; */
  background: rgba(255, 255, 255, 1);
  position: absolute;
  /*font-size: 10px;*/
  padding: 4px;
  left: -4px;
  color: #000;
  -webkit-animation: fadein 0.15s cubic-bezier(0, -0.530, 0.405, 1.425);
         -moz-animation: fadein 0.15s; /* Firefox */
          -ms-animation: fadein 0.15s; /* Internet Explorer */
           -o-animation: fadein 0.15s; /* Opera */
              animation: fadein 0.15s;
 
}

@keyframes fadein {
    from { height: 0%; opacity: 0; }
    to   { height: 200%; opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { height: 0%; opacity: 0; }
    to   { height: 200%; opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { height: 0%; opacity: 0; }
    to   { height: 200%; opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { height: 0%; opacity: 0; }
    to   { height: 200%; opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { height: 0%; opacity: 0; }
    to   { height: 200%; opacity: 1; }
}​


.group .group-label {
  font-size: 12px;
}

.header {
  background: #363636;
  z-index:10;
  padding-bottom: 10px;
  position: relative;
  height:60px;
}
.header h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  color: #A8A8A8;
  width:500px;
  float:left;
  padding-top: 12px;;
}

.header span {
  font-weight: normal;
  font-size: 17px;
  /* text-transform: initial; */
  font-weight: 500;
  color: #FFFFFF;
}

.header .menu a , .header h1 { line-height: 27px; }

.header .menu { float:right; }
.header .menu a { float:left; display:block; padding:22px 20px;}
.menu a.active, .menu a:hover  { background-color: #292929; color: #fff;}
.menu a { color:#cecece; text-decoration: none; }

.menu .social { font-size: 17px; float: right; padding: 22px 16px;}
.menu .social a { padding:0px 8px; color:#cecece; text-decoration: none; vertical-align: middle}
.menu .social a:hover  { color: #fff; background-color:#363636; }

.subheader {
  padding-top: 10px;
  background: #292929;
  padding-bottom: 10px;
}

.subheader h1 {
    font-weight: normal;
    font-size: 17px;
    display: inline;
    float: left;
}

.container {
  width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.main {
  margin-top: 20px;
}

#overlay {
  position: relative;
}
#overlay svg{
  display: none;
  position: absolute;
  height: 900px;
  width: 1200px;
  background: rgba(34, 34, 34, 0.45);
  z-index: 100;
  left: 0;
}

#overlay text {
  font-size: 12px;
  fill:#222;
}

#overlay circle {
  fill: #FFF;
  opacity: 0.22;
}

#overlay line {
  stroke: #FFF;
  opacity: 0.9;
}

#overlay rect {
  fill: #FFF;
  opacity: 0.9;
}

.skip {
  position: relative;
  z-index: 200;
  background: #E6E6E6;
  color: #000;
  padding: 4px;
  font-size: 12px;
  /* left: 0; */
  text-decoration: none;
  float: left;
  margin-left: 20px;
  margin-top: 10px;
  display: none;
}

.subheader p {
  clear: both;
}

.timerange.intro {
	display: none;
}