/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/



/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */



/* #Site Styles
================================================== */

a { !important color:#fff; border-bottom:1px solid #a40539; text-decoration: underline; font-weight:500;}

body {
	background-color:#222222;
    font-size: 1.0rem;
    color:#B0B0B0;
}

p {
	font-weight: 200;
}

strong {
	font-weight: 500;
}

p, h1, h2, h3 {
    font-size: 1.0rem;
  	font-family: "Times New Roman", Times, serif;
	margin:1.5rem 0 0 0 ;
	padding:0;
	color:#B0B0B0;
}


img.icon-button {
	cursor: pointer;
	opacity:0.5;
	border-radius: 15px;
}

img.active {
	opacity:1.0;
}

#ddb {
  	font-family: 'Lato', sans-serif;
  	font-style: normal;
	text-transform: uppercase;
    font-weight:500;
	color:#a40539;
}

#type {
  	font-family: "Times New Roman", Times, serif;
  	letter-spacing: 0.1rem;
  	font-style: italic;
	color:#EDEDED;
}

rect.extent {
  height:90px;
  fill:#fff;
}

g.resize rect {
  height:90px;
  fill:#fff;
}

.smallprint {
    font-size: 0.625rem;
}


header {
	position:fixed;
	z-index:10;
	background-image: url("../images/shadow.png");
	background-repeat: no-repeat;
	background-position: bottom center;
}

footer {
	position:absolute;
	background-image: url("../images/shadow.png");
	z-index:10;
}

#wrapper {
	position: relative;
}

svg#network {
	position:fixed;
	z-index:0;
	top:0;
	left:0;
}

svg#timeline {

}

.link, .affiliate {
	cursor: pointer;
}


/* #Page Styles
================================================== */



/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        h1 {
            font-size: 1.2rem;
			line-height: 1.40rem;
        }

				.important-text {
						font-size:1.2rem;
						line-height: 1.4rem;
						font-weight: 300;
				}

				p {
						line-height: 1.20rem;
				}

    }




/* #Font-Face
================================================== */
body {
  	font-family: 'Lato', sans-serif;
}
