
a { !important color:#fff; border-bottom:1px solid #a40539; text-decoration: underline; font-weight:500;}

body {
  background: #222222;
  color:#FFF;
  margin: 0;
  min-height: 700px;
  font-family: KarbidWeb, sans-serif;
  overflow:hidden;
}

#time-facet-caption { }
#time-facet-name {  margin:inherit 10px inherit 10px;background-color:#dbdbdb; color:#363636; padding:3px 10px 3px 10px;}

p {
  font-size: 12px;
  opacity: 0.8;
}

.timeline-tip.active {
	margin-top:-10px;
	background-color:#dbdbdb;
	opacity: 1.0;
  	padding:10px 0;
  	opacity:1.0;
}

rect.background {
	cursor:pointer;
}

.timeline-tip.inactive {
  padding:0 0;
  opacity:1.0;

}

.active {
  -webkit-animation: fadein 0.25s cubic-bezier(0, -0.530, 0.405, 1.425);
  -moz-animation: fadein 0.25s; /* Firefox */
  -ms-animation: fadein 0.25s; /* Internet Explorer */
  -o-animation: fadein 0.25s; /* Opera */
  animation: fadein 0.25s;
}

.inactive {
  -webkit-animation: fadeout 0.25s cubic-bezier(0, -0.530, 0.405, 1.425);
  -moz-animation: fadeout 0.25s; /* Firefox */
  -ms-animation: fadeout 0.25s; /* Internet Explorer */
  -o-animation: fadeout 0.25s; /* Opera */
  animation: fadeout 0.25s;
}

.inactive svg {
  position:absolute;
  opacity:0.0;
}

.active svg {
  position:relative;
}

@keyframes fadein {
    from { height: 0px; }
    to   { height: 100px; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { height: 0px; }
    to   { height: 100px; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { height: 0px; }
    to   { height: 100px; }
}

@keyframes fadeout {
    from { height: 100px; }
    to   { height: 0px; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { height: 100px; }
    to   { height: 0px; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { height: 100px; }
    to   { height: 0px;  }
}



* {
    transition: opacity 0.25s;
    transition: background-color 0.25s;
    transition: color 0.25s;
    transition: padding 0.15s;
}

img.icon-button {
	cursor: pointer;
	opacity:0.5;
	border-radius: 15px;
}

img.active {
	opacity:1.0;
}

#ddb {
  	font-family: 'Lato', sans-serif;
  	font-style: normal;
	text-transform: uppercase;
    font-weight:500;
	color:#a40539;
}

.header {
  padding-top: 10px;
  /*margin-bottom: 20px;*/
  background: #363636;
  padding-bottom: 10px;

}
.header h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  color: #A8A8A8;
}
.header span {
  font-weight: normal;
  font-size: 17px;
  /* text-transform: initial; */
  font-weight: 500;
  color: #FFFFFF;
}

.header .menu {
  display: none;
}

.subheader {
  padding-top: 10px;
  background: #292929;
  padding-bottom: 10px;
}

.subheader h1 {
    font-weight: normal;
    font-size: 17px;
}

.container {
  width: 1200px;
  margin: auto;
}
.main {
}

#type {
  	font-family: "KarbidWeb", sans-serif;
  	letter-spacing: 0.1rem;
	color:#EDEDED;
}

rect.extent {
  height:90px;
  fill:#fff;
}

g.resize rect {
  height:90px;
  fill:#fff;
}

.smallprint {
    font-size: 0.625rem;
}

#wrapper {
	position: relative;
}

svg#network {
	cursor: move;
}

svg#timeline rect {
	z-index:10;
}

.clickable-link, .affiliate {
	cursor: pointer !important;
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/1HGuyWp6Yj6Z5z3kcAMgRdtlHegjbmhkSKRGcfXNgDR.eot");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/lzAnrAKX2n7PutBy5buXFL0d24qV6eUHbMaz5h9ue2q.woff") format("woff");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/yIMIfUnWlhZH037ltWgPCUzeEs43WOvOy7ewoNSTo8h.woff") format("woff");
  font-weight: bold;
}
	

