/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/



/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */



/* #Site Styles
================================================== */

a { !important color:#fff; border-bottom:1px solid #a40539; text-decoration: underline; font-weight:500;}

body {
	background-color:#222222;
    font-size: 1.0rem;
    color:#B0B0B0;
}

p {
	font-weight: 200;
}

strong {
	font-weight: 500;
}

p, h1, h2, h3 {
    font-size: 1.0rem;
  	font-family: KarbidWeb, Calibri, Arial, sans-serif;
	margin:1.5rem 0 0 0 ;
	padding:0;
	color:#B0B0B0;
}


img.icon-button {
	cursor: pointer;
	opacity:0.5;
	border-radius: 15px;
}

img.active {
	opacity:1.0;
}

#ddb {
  	font-family: 'Lato', sans-serif;
  	font-style: normal;
	text-transform: uppercase;
    font-weight:500;
	color:#a40539;
}

svg#network {
	cursor: move;
}

#type {
  	font-family: "KarbidWeb", sans-serif;
  	letter-spacing: 0.1rem;
	color:#EDEDED;
}

rect.extent {
  height:90px;
  fill:#fff;
}

g.resize rect {
  height:90px;
  fill:#fff;
}

.smallprint {
    font-size: 0.625rem;
}


header {
	position:fixed;
	z-index:10;
	background-repeat: no-repeat;
	background-position: bottom center;

	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.3))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.3) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#4d000000',GradientType=0 ); /* IE6-9 */

}

footer {
	position:absolute;
	background-image: url("../images/shadow.png");
	z-index:10;
}

#wrapper {
	position: relative;
}

svg#network {
	position:fixed;
	z-index:0;
	top:0;
	left:0;
}

svg#timeline {

}

.link, .affiliate {
	cursor: pointer;
}


/* #Page Styles
================================================== */



/* #Media Queries
================================================== */


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {

    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

        h1 {
            font-size: 1.2rem;
			line-height: 1.40rem;
        }

				.important-text {
						font-size:1.2rem;
						line-height: 1.4rem;
						font-weight: 300;
				}

				p {
						line-height: 1.20rem;
				}

    }




/* #Font-Face
================================================== */
body {
  	font-family: 'Lato', sans-serif;
}



@font-face {
  font-family: KarbidWeb;
  src: url("../../css/1HGuyWp6Yj6Z5z3kcAMgRdtlHegjbmhkSKRGcfXNgDR.eot");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/lzAnrAKX2n7PutBy5buXFL0d24qV6eUHbMaz5h9ue2q.woff") format("woff");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/yIMIfUnWlhZH037ltWgPCUzeEs43WOvOy7ewoNSTo8h.woff") format("woff");
  font-weight: bold;
}

