@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.eot");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.woff") format("woff");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWebBold.woff") format("woff");
  font-weight: bold;
}

body {
    background: #222;
    color: #fff;
    font-family: "KarbidWeb", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 700px;
    min-width: 1240px;    
}

a:link{color: white; text-decoration: underline;}
a:visited{color: white; text-decoration: underline;}
a:hover{color: white; text-decoration: underline;}
a:active{color: white; text-decoration: underline;}

.main span {
    display: flex; 
    flex-direction: row;
    padding-right: .4em;
    margin-bottom: .2em;
    cursor: pointer;
}

.main div{
  hyphens: auto;
  font-size: 0.12px;
  min-width: 1240px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
    justify-content:flex-start;
    -webkit-align-items: baseline;
    align-items: baseline;
    align-content: space-around;
    -webkit-align-content: space-around;

}

.activeSmall {
    cursor: pointer;
}

.activeLink {
  cursor: pointer;
  text-decoration: underline;
}


.main {
    text-rendering: optimizeLegibility;
    font-family: "KarbidWeb", sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    position: relative;
}

.line{
    border-top: 1px solid #ccc;
    width: 1000px;
    margin: 20px auto;
}

.header {
  background: #363636;
  z-index:10;
  padding-bottom: 10px;
  position: relative;
  height:60px;
}

.header h1 {
  font-weight: 200;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  color: #A8A8A8;
  width:450px;
  float:left;
  padding-top: 12px;
}

.header h1 span { display:inline;}

.header span, .header a {
  font-weight: normal;
  font-size: 17px;
  /* text-transform: initial; */
  font-weight: 500;
  color: #FFFFFF;
  font-size: 17px;
}

.header .menu a, .header h1 { line-height:27px; }

.header .menu { float:right; }
.header .menu a { float:left; display:block; padding:22px 20px; color:#cecece; text-decoration: none; }
.menu a.active, .menu a:hover { background-color: #292929; color: #fff;}

.menu .social { float: right; padding: 22px 16px;}
.menu .social a { padding:4px 8px; color:#cecece; text-decoration: none; height: 26px;}
.menu .social a:hover  { color: #fff; background-color:#363636; }

.subheader{
    padding-top: 10px;
    background: #292929;
    padding-bottom: 10px; 
}

.subheader h1 {
    font-weight: normal;
    font-size: 17px;
}

.subheader p {
    font-size: 14px;
    opacity: .8;
}

.container{
    width: 1200px;
    margin: auto;
}

.d3-tip {
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  pointer-events: none;
  text-align: center;
}

.d3-tip h3 {
  font-family: "KarbidWeb", sans-serif;
  font-style: italic;
  line-height: 1.2rem;
  font-size: 1rem;
  color:#000;
  margin:0;
  padding: 2px 0 2px 0;
}

.d3-tip p {
  color:#a40539;
  font-weight: 400;
  font-family: "KarbidWeb", sans-serif;
  font-style: normal;
  font-size: 0.625rem;
  line-height: 0.75rem;
  padding: 2px 0 2px 0;
  margin:0;


}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 5px;
  width: 100%;
  line-height: 1;
  color: #fff;
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.help {
  float: right;
  cursor: pointer;
}

.help img {
  width: 20px;
	height: 20px;	
  opacity: .5;
}

.help .active, .help img:hover{
  opacity: 1;
} 

#overlay {
  display: block;
  margin: 0 auto;
  width: 1200px;
  position: relative;
  z-index: 50;
}

#overlay svg{
  display: none;
  position: absolute;
  margin: 0 auto;
  height: 900px;
  width: 1200px;
  background: rgba(34, 34, 34, 0);
  z-index: 100;
  left: 0;
}

#overlay text {
  fill:#222;
    font-size: 16px;
}

#overlay circle {
  fill: #FFF;
  opacity: 0.22;
}

#overlay line {
  stroke: #FFF;
  opacity: 0.9;
}

#overlay rect {
  fill: #FFF;
  opacity: 0.9;
}
