body {
  background: #222222;
  color:#FFF;
  margin: 0;
  min-height: 700px;
  font-family: KarbidWeb, sans-serif;
	min-width: 1240px;
}

#time-facet-caption { }
#time-facet-name {
  background-color:transparent;
  margin:0 -4px 0 0;
  color: #ffffff;
  padding:0;
}

p {
  font-size: 12px;
  opacity: 0.8;
}

rect.background {
	cursor:pointer;
}


rect {
	shape-rendering: geometricPrecision;
}

.left-arrow{ float:left; opacity:0.0; }
.right-arrow { float:right; opacity:0.0; }


#timeline {
	xfloat: left;
}

.right-arrow {
  padding: 27px 0 15px 0px;
  cursor: pointer;
  margin:0;
 	display:box;

}

.left-arrow {
  padding:27px 0 15px 0;
  cursor: pointer;
  margin:0;
  display:box;
}


.inactive svg {
  position:absolute;
  opacity:0.0;
}

.active svg {
  position:relative;
  opacity:1.0;
}

.timeline-tip {
	margin-top: -10px;
  opacity:1.0;
  z-index:30;
	width: 1200px;
	float: left;
}

.timeline-tip.active { opacity:1.0; }
.timeline-tip.inactive { opacity: 0.0; }
.timeline-tip.inactive .left-arrow, .timeline-tip.inactive .right-arrow { display:none;position:absolute; }
.timeline-tip.active .left-arrow, .timeline-tip.active .right-arrow { display:normal; position:relative;}


.timeline-tip.active {
  -webkit-animation: fadein 0.45s;
  -moz-animation: fadein 0.45s; /* Firefox */
  -ms-animation: fadein 0.45s; /* Internet Explorer */
  -o-animation: fadein 0.45s; /* Opera */
  animation: fadein 0.45s;
}

.timeline-tip.inactive {
  -webkit-animation: fadeout 0.45s;
  -moz-animation: fadeout 0.45s; /* Firefox */
  -ms-animation: fadeout 0.45s; /* Internet Explorer */
  -o-animation: fadeout 0.45s; /* Opera */
  animation: fadeout 0.45s;
}

@keyframes fadein {
    from { height: 0px; }
    to   { height: 80px; }
}

@keyframes fadeout {
    from { height: 80px; }
    to   { height: 0px; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { height: 0px; }
    to   { height: 80px; }
}

/* Firefox */
@-moz-keyframes fadeout {
    from { height: 80px; }
    to   { height: 0px; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { height: 0px; }
    to   { height: 80px; }
}

/* Safari and Chrome */
@-webkit-keyframes fadeout {
    from { height: 85px; }
    to   { height: 0px;  }
}



* {
    transition: opacity 0.45s;
    transition: background-color 0.45s;
    transition: color 0.45s;
    transition: padding 0.45s;
    transition: margin 0.45s;
    transition: border 0.45s;
}

img.icon-button {
	cursor: pointer;
	opacity:0.5;
	border-radius: 15px;
}

img.active {
	opacity:1.0;
}

.header {
  background: #363636;
  padding-bottom: 10px;
  z-index:10;
  position: relative;
  height:60px;
}

.header h1 {
  padding-top: 12px;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 1px;
  color: #A8A8A8;
  width:500px;
  float:left;
}

.header span {
  font-weight: normal;
  font-size: 17px;
  font-weight: 500;
  color: #FFFFFF;
}

.header .menu a , .header h1 { line-height: 27px; }

.header .menu { float:right; }
.header .menu a { float:left; display:block; padding:22px 20px; color:#cecece; text-decoration: none;}
.menu a.active, .menu a:hover  { background-color: #292929; color: #fff;}

.menu .social { font-size: 17px; float: right; padding: 22px 16px;}
.menu .social a { padding:0px 8px; color:#cecece; text-decoration: none; vertical-align: middle}
.menu .social a:hover  { color: #fff; background-color:#363636; }


.menu .lang {	float: right; padding: 22px 0px; }
.menu .lang a { padding:0px 8px; color:#777; text-decoration: none; vertical-align: middle}
.menu .lang a:hover  { color: #fff; background-color:#363636; }

.subheader {
  padding-top: 10px;
  background-color: rgba(41, 41, 41, 0.95);
  padding-bottom: 0px;
  z-index:10;
  position: relative;
	height: 130px;
}

.subheader h1 {
    font-weight: normal;
    font-size: 17px;
}

.container {
  width: 1200px;
  margin: auto;
}

.main {
  z-index:20;
}

#type {
	font-family: "KarbidWeb", sans-serif;
	letter-spacing: 0.1rem;
  color:#EDEDED;
}

rect.extent {
  height:90px;
  fill:#fff;
}

g.resize rect {
  height:90px;
  fill:#fff;
}

.smallprint {
    font-size: 0.625rem;
}

#wrapper {
	position: relative;
}

svg#network {
	position:fixed;
  z-index:0;
}

svg#network.network {
  cursor: move;
}

svg#network.sorted {
  cursor:default;
}

svg#network * {
  z-index:0;
}

svg#network .x.axis text {
  transform:translate(0,-10px);
}

svg#network .y.axis text {
  transform:translate(10px,0);
}



svg#network #axis line {
  stroke:#fff;
  fill-opacity:0;
  stroke-width:1px;
}

svg#network .labels text{
  fill:#EDEDED;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1.5;
}

svg#network .tick text {
  fill:#EDEDED;
  font-size: 8px;
  font-weight: 200;
}

svg#network path.domain {
  fill-opacity:0.1;
  fill:#fff;
}


.clickable-link, .affiliate {
	cursor: pointer !important;
}

.link {
  dash-array: 1 2;
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.eot");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWeb.woff") format("woff");
}

@font-face {
  font-family: KarbidWeb;
  src: url("../../css/KarbidWebBold.woff") format("woff");
  font-weight: bold;
}

 a#switchMode {
   transition: all 0.5s;
   display:block;
   width:50px;
   height:50px;
   position:absolute;
   left:20px;
   bottom:20px;
   color:#fff;
   background:rgba(255, 255, 255, 0.1);
   text-decoration: none;
   text-transform: uppercase;
   background-repeat: no-repeat;
   background-position: center;
   border-radius: 25px;
 }

 #switchMode:hover {
   bottom:17px;
   background:rgba(255, 255, 255, 0.25);
   background-repeat: no-repeat;
   background-position: center;
 }

 #switchMode.network {
   background-image: url("../images/icons/sorted.svg");
 }

 #switchMode.sorted {
   background-image: url("../images/icons/network.svg");
 }


#overlay {
  position:absolute;
  display:none;
  left:0;
  top:0;
  margin:0;
  padding:0;
  z-index: 20;
}

#overlay svg{
  background: rgba(34, 34, 34, 0.45);
  z-index: 20;
}

#overlay text {
  fill:#222;
}

#overlay circle {
  fill: #FFF;
  opacity: 0.22;
}

#overlay line {
  stroke: #FFF;
  opacity: 0.9;
}

#overlay rect {
  fill: #FFF;
  opacity: 0.9;
}


img.help {
	position: relative;
	float: right;
	opacity: 0.5;
	width: 20px;
	height: 20px;
}

img.help:hover {
	opacity: 1;
}


.d3-tip {
  padding: 5px 10px 5px 10px;
  background-color: #fff;
  pointer-events: none;
  text-align: center;
  max-width: 160px;
}

.d3-tip h3 {
  font-family: KarbidWeb, Calibri, Arial, sans-serif;
  line-height: 1.2rem;
  font-size: 1rem;
  color:#222;
  margin:0;
  padding: 2px 0 2px 0;
}

.d3-tip p {
  color:#222;
  font-family: KarbidWeb, Calibri, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 10px;
  line-height: 0.75rem;
  padding: 2px 0 2px 0;
  margin:0;
}

.d3-tip p.description {
  text-align: left;
  color:#222;
  font-family: KarbidWeb, Calibri, Arial, sans-serif;
  font-size: 10px;
  line-height: 14px;
  padding: 5px 0 5px 0;
  margin:0;
}



/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 0.5;
  color: #fff;
  position: absolute;
  pointer-events: none;
}


/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 -3px;
  top: 50%;
  left: -51%;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 1px;
  top: 50%;
  left: 51%;
}
